* text=auto !eol
/.classpath -text
/.project -text
maven-skin/pom.xml -text
maven-skin/src/main/resources/css/maven-theme.css -text
maven-skin/src/main/resources/images/asf_logo_wide.gif -text
maven-skin/src/main/resources/images/banner.jpg -text
maven-skin/src/main/resources/images/bg.jpg -text
maven-skin/src/main/resources/images/breadcrumbs.jpg -text
maven-skin/src/main/resources/images/collapsed.gif -text
maven-skin/src/main/resources/images/expanded.gif -text
maven-skin/src/main/resources/images/h3.jpg -text
maven-skin/src/main/resources/images/h5.jpg -text
maven-skin/src/main/resources/images/icon_error_sml.gif -text
maven-skin/src/main/resources/images/icon_info_sml.gif -text
maven-skin/src/main/resources/images/icon_success_sml.gif -text
maven-skin/src/main/resources/images/icon_warning_sml.gif -text
/pom.xml -text
src/site/apt/download.apt -text
src/site/resources/css/site.css -text
src/site/resources/doap_Hivemind.rdf -text
src/site/site.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/news.xml -text
src/site/xdoc/support.xml -text
